<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container">
    <div class="row">
             <!--   <div id="custom-search-input">
                                <div class="input-group col-md-20" style="text-align: center">
                                    <input type="text" class="search-query form-control" placeholder="Search With FirstName"  name="name" [(ngModel)]="firstName"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button" (click)="findUserByFname()">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div> -->

                            <div class="col-md-4">
                                <input type="text"
                                    [(ngModel)]="filters.keyword"
                                    (input)=listUsers()
                                    name="keyword"
                                    class="form-control"
                                    placeholder="search.."/>

                            </div>
    </div>
    </div>
<div class="container">
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Zip Code</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

     
 
         
         <tr *ngFor="let  user of users1">

            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phoneNumber}}</td>
            <td>{{user.city}}</td>
            <td>{{user.state}}</td>
            <td>{{user.country}}</td>
            <td>{{user.zipCode}}</td>

             <td><button (click)="deleteUser(user.id)" class="btn btn-danger">Delete</button>
                <button (click)="updateUser(user.id)" class="btn btn-info">Update</button>
                <button (click)="userDetails(user.id)" class="btn btn-info" >Details</button>
            </td> 
          </tr> 

  
          
          
       
    </tbody>
    </table>
    </div>
</div>

